# Ignore compiled object files
*.o
*.ko
*.obj
*.elf

# Ignore the models
*.h5
*.pkl

# Ignore executables
*.exe
*.out
*.app

# Ignore the xls
*.xlsx
# Ignore libraries
*.a
*.lib

# Ignore log files
*.log

# Ignore build directories
build/
dist/
venv/
pycache/
__pycache__/

# Ignore the data and training for photos
data/
pruebas/
