<!DOCTYPE html>
<html>

<head>
    
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carta.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="img-container">
             <img id="logo" src="../static/img/image-removebg-preview.png" alt="">
            </div>
            <div class="empresaName">
                <h1>{{ establecimiento }}</h1>
                <h3 id="subtitulo"> by ApuntaJefe</h3>
          
            </div>
            <div class="container-submenu">
                <ul id="submenu">
                    <li><a class="submenuenl" href="{{ base_domain }}/dashboard">Inicio</a></li>
                    <li><a class="submenuenl" href="{{ base_domain }}/mesa">Mesas</a></li>
                    <li><a class="submenuenl" href="{{ base_domain }}/cierresesion">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    
    {% block content %}{% endblock %}
    {% block scriptjs %}{% endblock %}
    
</body>

</html>