<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cofirm Step</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Sabemos que no eres un bot, pero por si acaso...</h1>
    <form action="/botpage/" method="POST">
        <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div>
        <br/>
        <input type="submit" value="Submit">
    </form>
    {% if status %}
    <p>{{ status }}</p>
    {% endif %}
</body>
</html>
