<!DOCTYPE html>
<html>

<head>
    <title>Carta {{nombre}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carta.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="img-container">
                <img id="logo" src="../static/img/_f5591b39-f277-446e-9794-a2dd2be557d4-removebg-preview.png" alt="">
            </div>
            <div class="empresaName">
                <h1>ApuntaJefe</h1>
            </div>
            <div class="container-submenu">
                <ul id="submenu">
                    <li><a class="submenuenl" href="{{ base_domain }}/">Carta</a></li>
                    <li><a class="submenuenl" href="{{ base_domain }}/">Platos</a></li>
                    <li><a class="submenuenl" href="{{ base_domain }}/">Mesas</a></li>
                    <li><a class="submenuenl" href="{{ base_domain }}/cierresesion">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="breadcrums">
            <a href="{{ base_domain }}/dashboard" class="e1">Home</a>
            <p class="next"> ➤</p> <a href="" class="e2">Actual</a>
        </div>
        <div id="1">
            <div class="tittlecontainer">
                <h1 class="titulo">Secciones de {{ nombre }}: </h1>
            </div>

            <div class="recuadro-tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre de la sección</th>
                            <th>Índice</th>
                            <th>Estado</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="first-col">
                            <form id="createSeccionForm">
                                <td><input type="text" name="nombre_seccion"></td>
                                <td><input type="number" name="indice"></td>
                                <td><input type="checkbox" name="estado"></td>
                                <td><button type="submit">Enviar</button></td>
                                <td></td>

                            </form>
                        </tr>

                        <tr></tr>
                        {% for seccion in secciones %}
                        <tr>
                            <td><a href="/platos/{{ seccion[0] }}" class="enl-sec">{{ seccion[0] }}</a></td>
                            <td>{{ seccion[1] }}</td>
                            <td>{{ seccion[2] }}</td>
                            <td><button
                                    onclick="editform('{{ seccion[0] }}','{{ seccion[1] }}','{{ seccion[2] }}')">Editar</button>
                            </td>
                            <td><button class="eliminar-btn" data-seccion-id="{{seccion[0]}}">Eliminar</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="editform">
                <h1 class="edit-title">Editar la sección</h1>
                <div id="edit-container">
                    <form id="editSeccionForm">
                        <p class="xpalin">Nombre</p>
                        <input type="text" name="nombre_seccion_editar" id="editNombreSeccion">
                        <p class="xpalin">Índice</p>
                        <input type="number" name="indice_editar" id="editIndice">
                        <div id="staut-edi">
                            <p class="xpalin">Estado:</p>
                            <input type="checkbox" name="estado_editar" id="editEstado">
                            <br>
                        </div>

                        <button type="button" onclick="enviarFormulario()">Guardar</button>
                        <button type="button" onclick="cerrarFormulario()">Cerrar</button>
                    </form>
                </div>

            </div>

        </div>

        <div id="intrucciones">
            <div id="container-instr">
                <span id="close-instructions" onclick="cerrarInstrucciones()">X</span>
                <h2 id="title-inst">Instrucciones de uso</h2>
                
                <br>
                <ul class="instruccioneslista">
                    <li>Para añadir una seccion rellena el formulario de la primera fila de la tabla</li>
                    <li>Recuerda, el nombre de cada sección es único, no lo podras repetir</li>
                    <li>El índice indica que se muestra primero.En caso de que dos elementos tengan el mismo índice se
                        ordena por orden alfabético</li>
                    <li>El estado indica si la sección está activa o no (Si no la activas los clientes no la podran ver)</li>
                </ul>
            </div>
        </div>

        <script>
            function cerrarInstrucciones() {
                var instructions = document.getElementById("intrucciones");
                instructions.style.display = "none";
            }
        </script>
    </main>


    <script>
        document.getElementById("createSeccionForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var form = document.getElementById("createSeccionForm");
            var formData = new FormData(form);

            // Iterar sobre los datos del formulario y mostrarlos por consola
            for (var entry of formData.entries()) {
                console.log("Campo:", entry[0]);
                console.log("Valor:", entry[1]);
            }

            fetch("/createSeccion", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        });


        var edita = ""
        function editform(nombre, indice, estado) {
            edita = nombre;
            // Mostrar el formulario de edición
            var edtiform = document.getElementById("editform");
            edtiform.style.display = "flex"; // Cambiado a "block" para que sea visible

            // Obtener referencia a los campos del formulario de edición
            var nombreInput = document.getElementById("editNombreSeccion");
            var indiceInput = document.getElementById("editIndice");
            var estadoInput = document.getElementById("editEstado");

            // Asignar valores actuales a los campos del formulario
            nombreInput.value = nombre;
            indiceInput.value = indice;
            estadoInput.checked = estado; // estado debe ser un valor booleano
        }
        function cerrarFormulario() {
            var edtiform = document.getElementById("editform");
            edtiform.style.display = "none";
        }
        function enviarFormulario() {
            var form = document.getElementById("editSeccionForm");
            var formData = new FormData(form);
            formData.append("edita", edita); // Agregar la variable "edita" al formulario

            console.log("Formulario a enviar:", formData);
            console.log(formData.get("nombre_seccion_editar"));
            console.log(formData.get("indice_editar"));
            console.log(formData.get("estado_editar"));

            fetch("/editSeccion", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        }


        var eliminarButtons = document.getElementsByClassName("eliminar-btn");
        for (var i = 0; i < eliminarButtons.length; i++) {
            eliminarButtons[i].addEventListener("click", function () {
                var cartaId = this.getAttribute("data-seccion-id");
                var data = { cartaId: cartaId };

                console.log("Data being sent:", data); // Add this line to console log the data being sent

                fetch("/removeSeccion", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        }

    </script>
</body>

</html>