<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta del {{ establecimiento }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <h1 class="tit2">Revisa tu pedido</h1>
        </div>
        <div class="breadCrums">
            <div class="bc">
                <a href="" class="breadcrcla" id="bredcrenl">Volver a la carta</a>
            </div>
        </div>
    </header>
    <br>
    <div class="menu">

    </div>
    <footer>
        <a href="" id="enl-carrito" onclick="enviarPedido()">
            <div class="footer">

                <img src="../static/img/comer.png" id="imgcarrito" alt="">
                <p class="pedidotext">Enviar pedido</p>
                <p class="pedidotext" id="preciotot"> (00.00€)</p>
            </div>

        </a>
        <address>Powered by ApuntaJefe</address>
    </footer>
</body>

<script src="{{ url_for('static', filename='js/carrito.js') }}"></script>

</html>