<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">

        <div class="sub-container">
            <h1 id="tittle">Confirme su cuenta {{username}}</h1>
            <form class="confirmform" method="POST" action="{{ url_for('confirm', username=username) }}"
                onsubmit="return validateForm()">
                {{ form.hidden_tag() }}
                <label for="codigo">Código:</label>
                {{ form.codigo(size=32, id="codigo") }}
                <p class="warning" id="warning-password"></p>
                <button type="submit">Confirmar</button>
            </form>
        </div>

        <div id="burbleadvice">
            <img id="checkimg"
                src="../static/img/casilla-verificacion-3d-marca-verificacion-ilustracion-3d_115990-1862-removebg-preview.png"
                alt="">
            <p id="descripmsg">El código está en tu email</p>
            <p id="count">7</p>
        </div>

        <script>
            var urlParams = new URLSearchParams(window.location.search);
            var nextStep = urlParams.get('cdg');

            if (nextStep === '1') {
                var burbleAdvice = document.querySelector('#burbleadvice');
                burbleAdvice.style.display = 'flex';

                var countElement = document.querySelector('#count');
                var count = 7;
                var countdown = setInterval(function () {
                    count--;
                    countElement.textContent = count;
                    if (count <= 0) {
                        clearInterval(countdown);
                    }
                }, 1000);

                setTimeout(function () {
                    burbleAdvice.style.display = 'none';
                }, 7000);
            }

            var msgerr = urlParams.get('err');
            if (msgerr === '1') {
                document.querySelector('#warning-password').innerHTML = 'Código incorrecto';
            }

            function validateForm() {
                var codigo = document.querySelector('#codigo').value.trim();
                if (codigo === '' || codigo.length !== 6) {
                    document.querySelector('#warning-password').innerHTML = 'Ingrese un código de 6 caracteres';
                    return false;
                } else {
                    document.querySelector('#warning-password').innerHTML = '';
                }
                return true;
            }
        </script>



</body>

</html>