{% extends "base.html" %}
{% block title %}
ApuntaJefe: {{ establecimiento }}
{% endblock %}

{% block content %}
    <main>
        <div class="principalcontainer">
            <div class="datosnegocio" id="cl1">
                <p id="datostitle">Datos sobre el establecimiento</p>
                <strong id="text-neg">⚠️​ Configura tu cuenta para obtener más información</strong>
                <ul class="minimalista">
                    <li>👨‍🍳​ Tienes creadas {{count_cartas}} cartas.</li>
                    <li>👩‍🍳​ Tienes creadas {{count_menus}} secciones.</li>
                    <li>👨🏾‍🍳​ Tienes creados {{count_platos}} platos.</li>
                    <li>⌚ Ordenación en base a preferencias basadas en tiempo real <input type="checkbox" id="ahpactive"></li>
                </ul>
                
            </div>
            
            <div class="datosnegocio" id="cl2">
                <p id="datostitle">Gestiona tus pedidos</p>
                <button id="pedidosactivos" onclick="window.location.href='/gestion'">Comienzar a atender</button>

                <ul class="minimalista">
                    <li>🚨​ Visualiza las comandas activas.</li>
                    <li>​🕵️‍♂️​​ Aplica filtros.</li>
                    <li>🚴​ Reduce tiempos de espera.</li>
                </ul>
                
            </div>
        </div>
        <div id="sediv">
        <hr id="separadora1">
        </div>
        <div class="reducetam">
        <div class="recuadro-tabla">
            <p id="datostitle2">Cartas existentes</p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre de la carta</th>
                        <th>Índice</th>
                        <th>Estado</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="first-col" class="dashboard">
                        <form id="createCartaForm">
                            <td><input type="text" name="nombre_carta"></td>
                            <td><input type="number" name="indice"></td>
                            <td><input type="checkbox" name="estado"></td>
                            <td><button type="submit">Crear</button></td>
                            <td></td>       
                        </form>
                    </tr>

                    <tr></tr>
                    {% for carta in cartas %}
                    <tr>
                        <td><a href="/carta/{{ carta[0] }}" class="enl-sec">{{ carta[0] }}</a></td>
                        <td>{{ carta[1] }}</td>
                        <td><p class="changeunicjs">{{ carta[2] }}</p></td>
                        <td><button
                                onclick="editform('{{ carta[0] }}','{{ carta[1] }}','{{ carta[2] }}')">Editar</button>
                        </td>
                        <td><button class="eliminar-btn" data-carta-id="{{carta[0]}}">Eliminar</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


        <div id="editform" style="display: none;">
            <div id="examw">
            <h1 class="edit-title">Editar la carta</h1>
            <div class="edit-title">
            
            <form id="editSeccionForm">
                <p class="xpalin">Nombre</p>
                <input type="text" name="nombre_carta_editar" id="editNombreCarta">
                <p class="xpalin">Indice</p>
                <input type="number" name="indice_editar" id="editIndice">
                <div id="staut-edi">
                    <p class="status">Estado</p>
                    <input type="checkbox" name="estado_editar" id="editEstado">
                </div>
                <button type="button" onclick="enviarFormulario()">Guardar</button>
                <button type="button" onclick="cerrarFormulario()">Cerrar</button>

            </form>
            </div>

        </div>


       
    </main>
    {% endblock %}

    {% block scriptjs %}
        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    {% endblock %}
