{% extends "base.html" %}
{% block title %}
Gestionar secciones
{% endblock %}

{% block content %}
<main>
    <div class="templaetegrid">
        <div class="breadcrums">
            <a href="{{ base_domain }}/dashboard" class="e1">Home</a>
            <p class="next"> ➤</p> <a href="" class="e2">Actual</a>
        </div>
        <div class="contadorultima">
            <div class="girarota">
                <p id="contadoractualizacion"></p>
            </div>
        </div>
    </div>

    <div class="filtrocate">

        <h2 class="titfiltr">Filtrar por categorias:</h2>
        <div class="seccionesfiltromultiple">
        {% for categoria in categorias %}
        <div class="valuecehc">
        <input type="checkbox" value="{{categoria}}" class="valueCategoría" onchange="filtrado()">{{categoria}}</option>
    </div>

        {% endfor %}
        </div>
    </div>

    </div>
    <div class="recuadro-tabla">
        <table>
            <thead>
                <tr>
                    <th>Nª </th>
                    <th>Hora</th>
                    <th>Nombre del plato</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                    <th>Mesa</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>

                <tr></tr>
                {% for pedido in pedidos %}
                <tr>

                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.plato }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td class="cat-filtadro">{{ pedido.categoria }}</td>
                    <td>{{ pedido.mesa}}</td>
                    <td>
                        <button class="finok" onclick="enviarEstado('{{ pedido.id }}', 'fin')">Finalizado</button>
                        <button class="findis" onclick="enviarEstado('{{ pedido.id }}', 'error')">Error</button>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>




</main>
{% endblock %}
{% block scriptjs %}
<script src="{{ url_for('static', filename='js/carta.js') }}"></script>


{% endblock %}