<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla 5x5</title>
    <style>
        table {
            border-collapse: collapse;
            width: 25%;
        }
        th, td {
            border: 1px solid black;
            width: 10%; /* Ancho fijo en porcentaje para todas las celdas */
            height: 50px; /* Altura fija en pixeles para todas las celdas */
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        #mini{
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <h2>Tabla 5x5</h2>
    <table>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img  id="mini" src="../static/img/_164ba060-43f4-45a8-a9f5-1883e41a6a20-removebg-preview.png" alt=""></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
    <button value="mesa" id="mesaButton">mesa</button>
    <button valure="borrar" id="borrarButton">borrar</button>
</body>
<script>
    
    var table = document.querySelector('table');
var cells = table.querySelectorAll('td');
var count = 1;
for (var i = 0; i < cells.length; i++) {
    cells[i].id = '' ;
    cells[i].style.backgroundColor = 'orange';
}

var pasilloButton = document.querySelector('#pasilloButton');
var borrarButton = document.querySelector('#borrarButton');
var estado = "sin";

borrarButton.addEventListener('click', function() {
    estado = "borrar";
});
mesaButton.addEventListener('click', function() {
    estado = "mesa";
});
table.addEventListener('click', function(event) {
    var cell = event.target;
    if (estado == "borrar") {
        cell.id = '';
        cell.style.backgroundColor = 'orange';
    }

    if (estado == "mesa") {
        cell.id = 'mesa';
        cell.style.backgroundColor = 'green';
    }

});


</script>
</html>

