{% extends "base.html" %}
{% block title %}
    Gestionar Platos
{% endblock %}

{% block content %}
    <main>
        <div class="breadcrums">
            <a href="{{ base_domain }}/dashboard" class="e1">Home</a>
            <p class="next"> ➤</p> <a href="{{ base_domain }}/carta/{{nombre}}" class="e2">Carta</a>
            <p class="next"> ➤</p> <a href="" class="e3">Actual</a>
        </div>
        <div id="1">
            <div class="tittlecontainer">
                <h1 class="titulo">{{seccion}} ({{nombre}}):</h1>
            </div>
            <div class="recuadro-tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del plato</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Índice</th>
                            <th>Estado</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="first-col">
                            <form id="createSeccionForm">
                                <td><input type="text" name="nombre_seccion"></td>
                                <td>
                                <textarea name="descripción" id="descrip-text" cols="30" rows="1"></textarea>
                            </td>
                                
                                <td><input type="number" name="precio" step="any"></td>
                                <td><input type="number" name="indice"></td>
                                <td><input type="checkbox" name="estado"></td>
                                <td><button type="submit">Enviar</button></td>
                                <td></td>
                                
                            </form>
                        </tr>

                        <tr></tr>
                        {% for seccion in secciones %}
                        <tr>
                            <td>{{ seccion[0] }}</td>
                            <td>{{ seccion[1] }}</td>
                            <td>{{ seccion[2] }}</td>
                            <td>{{ seccion[3] }}</td>
                            <td><p class="changeunicjs">{{ seccion[4] }}</p></td>


                            <td><button
                                    onclick="editform('{{ seccion[0] }}','{{ seccion[1] }}','{{ seccion[2] }}','{{ seccion[3]}}','{{ seccion[4]}}')">Editar</button>
                            </td>
                            <td><button class="eliminar-btn" data-seccion-id="{{seccion[0]}}">Eliminar</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="intrucciones">
                <div id="container-instr">
                    <span id="close-instructions" onclick="cerrarInstrucciones()">X</span>
                    <h2 id="title-inst">Instrucciones de uso</h2>
                    
                    <br>
                    <ul class="instruccioneslista">
                        <li>Para añadir una seccion rellena el formulario de la primera fila de la tabla</li>
                        <li>Recuerda, el nombre de cada sección es único, no lo podras repetir</li>
                        <li>El índice indica que se muestra primero.En caso de que dos elementos tengan el mismo índice se
                            ordena por orden alfabético</li>
                        <li>El estado indica si la sección está activa o no (Si no la activas los clientes no la podran ver)</li>
                    </ul>
                </div>
            </div>
    
            
            <div id="editform">
                <h1 class="edit-title">Editar la sección</h1>
                <div id="edit-container">
                    <form id="editSeccionForm">
                        <p class="xpalin">Nombre</p>
                        <input type="text" name="nombre_seccion_editar" id="editNombreSeccion">
                        <p class="xpalin">Descripción</p>
                        <textarea name="descripcion_editar" id="editSeccion" rows="5"></textarea>
                        <p class="xpalin">Precio</p>
                        <input type="number" name="precio_editar" id="editPrecio" step="any">
                        <p class="xpalin">Índice</p>
                        <input type="number" name="indice_editar" id="editIndice">
                        <div id="staut-edi">
                            <p class="xpalin">Estado</p>
                            <input type="checkbox" name="estado_editar" id="editEstado">
                        </div>

                        <button type="button" onclick="enviarFormulario()">Guardar</button>
                        <button type="button" onclick="cerrarFormulario()">Cerrar</button>
                    </form>

                </div>
    </main>


{% endblock %}

{% block scriptjs %}
    <script src="{{ url_for('static', filename='js/platos.js') }}"></script>
{% endblock %}
