<!DOCTYPE html>
<html>

<head>
    <title>Carta, {{nombre}}!</title>
</head>

<body>
    <h1>Carta: {{nombre}}</h1>
    <div id="1">
        Se han encontrado {{count_platos}} platos.
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre del plato</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Índice</th>
                        <th>Estado</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form id="createSeccionForm">
                            <td><input type="text" name="nombre_seccion"></td>
                            <td><input type="text" name="descripción" id=""></td>
                            <td><input type="number" name="precio" step="any"></td>
                            <td><input type="number" name="indice"></td>
                            <td><input type="checkbox" name="estado"></td>
                            <td></td>
                            <td></td>
                            <td><button type="submit">Enviar</button></td>
                        </form>
                    </tr>

                    <tr></tr>
                    {% for seccion in secciones %}
                    <tr>
                        <td>{{ seccion[0] }}</td>
                        <td>{{ seccion[1] }}</td>
                        <td>{{ seccion[2] }}</td>
                        <td>{{ seccion[3] }}</td>
                        <td>{{ seccion[4] }}</td>


                        <td><button
                                onclick="editform('{{ seccion[0] }}','{{ seccion[1] }}','{{ seccion[2] }}','{{ seccion[3]}}','{{ seccion[4]}}')">Editar</button>
                        </td>
                        <td><button class="eliminar-btn" data-seccion-id="{{seccion[0]}}">Eliminar</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="editform" style="display: none;">
            <form id="editSeccionForm">
                <input type="text" name="nombre_seccion_editar" id="editNombreSeccion">
                <input type="text" name="descripcion_editar" id="editSeccion">
                <input type="number" name="precio_editar" id="editPrecio" step="any">
                <input type="number" name="indice_editar" id="editIndice">
                <input type="checkbox" name="estado_editar" id="editEstado">
                <button type="button" onclick="enviarFormulario()">Guardar</button>
            </form>
        </div>

        <a href="{{ base_domain }}/cierresesion">Cerrar sesión</a>
    </div>

    <script>
        document.getElementById("createSeccionForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var form = document.getElementById("createSeccionForm");
            var formData = new FormData(form);

            // Iterar sobre los datos del formulario y mostrarlos por consola
            for (var entry of formData.entries()) {
                console.log("Campo:", entry[0]);
                console.log("Valor:", entry[1]);
            }

            fetch("/createPlato", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        });


        var edita = ""
        function editform(nombre, descripcion, precio, indice, estado) {
            edita = nombre;
            // Mostrar el formulario de edición
            var edtiform = document.getElementById("editform");
            edtiform.style.display = "block"; // Cambiado a "block" para que sea visible

            // Obtener referencia a los campos del formulario de edición
            var nombreInput = document.getElementById("editNombreSeccion");
            var indiceInput = document.getElementById("editIndice");
            var estadoInput = document.getElementById("editEstado");
            var precioInput = document.getElementById("editPrecio");
            var descripcionInput = document.getElementById("editSeccion");

            // Asignar valores actuales a los campos del formulario
            nombreInput.value = nombre;
            indiceInput.value = indice;
            estadoInput.checked = estado; // estado debe ser un valor booleano
            precioInput.value = precio;
            descripcionInput.value = descripcion;
        }

        function enviarFormulario() {
            var form = document.getElementById("editSeccionForm");
            var formData = new FormData(form);
            formData.append("edita", edita); // Agregar la variable "edita" al formulario

            console.log("Formulario a enviar:", formData);
            console.log(formData.get("nombre_seccion_editar"));
            console.log(formData.get("indice_editar"));
            console.log(formData.get("estado_editar"));

            fetch("/editPlato", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
            }


        var eliminarButtons = document.getElementsByClassName("eliminar-btn");
        for (var i = 0; i < eliminarButtons.length; i++) {
            eliminarButtons[i].addEventListener("click", function () {
                var cartaId = this.getAttribute("data-seccion-id");
                var data = { cartaId: cartaId };

                console.log("Data being sent:", data); // Add this line to console log the data being sent

                fetch("/removePlato", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        }

    </script>
</body>

</html>